@mixin useAllAvailableSpace {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html, body, #root {
  @include useAllAvailableSpace;
}

.app {
  @include useAllAvailableSpace;

  text-align: center;
}

.work-area {
  @include useAllAvailableSpace;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  .browser {
    flex-grow: 1;
    max-width: 300px;
    background-color: lavender;
    overflow: scroll;

    .browser-specification-card {
      border: 1px solid darkblue;
    }
  }

  .workbench {
    flex-grow: 1;
    background-color: antiquewhite;
    position: relative;

    .gates {
      @include useAllAvailableSpace;
      overflow: scroll;
      position: relative;
    }
  }
}