@mixin useAllAvailableSpace {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html, body, #root {
  @include useAllAvailableSpace;
}

.app {
  @include useAllAvailableSpace;

  text-align: center;
}

.work-area {
  @include useAllAvailableSpace;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  .browser {
    flex-grow: 1;

    min-width: 2in;
    max-width: 3in;

    background-color: lavender;
    overflow: scroll;

    .browser-specification-card {
      border: 1px solid darkblue;
    }
  }

  .workbench {
    flex-grow: 4;

    background-color: antiquewhite;

    .gates {
      @include useAllAvailableSpace;
    }
  }
}

@mixin windowPositioning {
  position: fixed;
  left: 0;
  top: 0;
}

.refHandle {
  display: inline-block;
  font-size: 0;
}

.dragLayer {
  @include windowPositioning;
  z-index: 100;
  pointer-events: none;
}

.resizeable-canvas-container {
  @include useAllAvailableSpace;

  canvas {
    @include windowPositioning;
  }
}