.workbench {
  position: relative;

  overflow: scroll;
  background-color: antiquewhite;
}

.workbench-gate {
  position: absolute;

  font-size: 0;
  white-space: nowrap;
  overflow: hidden;

  .row-of-triangles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .triangle {
    width: 15px;
    height: 15px;
  }

  .specification {
    padding: 5px;
    margin: 0;
    background-color: lightgrey;
    border: 2px solid darkgrey;

    font-size: initial;
  }
}